@use "sass:map";
@use "sass:color";
@use "../variables.scss";


.btn {
    padding: variables.$btn-padding;
    border: none;
    border-radius: variables.$btn-border-radius;
    font-family: "RoslindaleDisplayNarrow", serif;
    font-size: variables.$btn-font-size;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.btn-primary {
        background-color: variables.$primary-color;
        color: variables.$white;

        &:hover {
            background-color: color.adjust(variables.$primary-color, $lightness: variables.$btn-primary-hover-bg-lightness-adjust);
        }

        &:focus {
            background-color: color.adjust(variables.$primary-color, $lightness: variables.$btn-primary-focus-bg-lightness-adjust);
        }
    }

    &.btn-secondary {
        border: 1px solid variables.$primary-color;
        color: variables.$primary-color;

        &:hover {
            background-color: color.adjust(variables.$white, $lightness: variables.$btn-secondary-hover-bg-lightness-adjust);
        }

        &:focus {
            background-color: color.adjust(variables.$white, $lightness: variables.$btn-secondary-focus-bg-lightness-adjust);
        }
    }

    &.btn-small {
        padding: variables.$small-btn-padding;
        font-size: variables.$small-btn-font-size;
    }
}

.btn-icon-only {
    padding: variables.$icon-only-btn-padding;
    cursor: pointer;
    transition: background-color 0.3s ease;

    svg {
        fill: none;
        stroke: variables.$primary-color;
    }

    &:hover {
        background-color: color.adjust(variables.$white, $lightness: variables.$btn-secondary-hover-bg-lightness-adjust);

        svg {
            stroke: color.adjust(variables.$primary-color, $lightness: variables.$btn-primary-hover-bg-lightness-adjust);
        }
    }

    &:focus {
        background-color: color.adjust(variables.$white, $lightness: variables.$btn-secondary-focus-bg-lightness-adjust);

        svg {
            stroke: color.adjust(variables.$primary-color, $lightness: variables.$btn-primary-focus-bg-lightness-adjust);
        }
    }
}