@use "sass:map";
@use "sass:color";
@use "../variables.scss";
@use "../mixins.scss";

:root {
    --btn-font-size: 1.1rem;
    --btn-padding-v: #{map.get(variables.$spacing, "3")};
    --btn-padding-h: #{map.get(variables.$spacing, "4")};
    --btn-bg-primary: #{variables.$primary-color};
    --btn-bg-primary-hover: #{color.adjust(variables.$primary-color, $lightness: variables.$btn-primary-hover-bg-lightness-adjust)};
    --btn-bg-primary-focus: #{color.adjust(variables.$primary-color, $lightness: variables.$btn-primary-focus-bg-lightness-adjust)};
    --btn-text-primary: #{variables.$white};
    --btn-bg-secondary: transparent;
    --btn-bg-secondary-hover: #{color.adjust(variables.$white, $lightness: variables.$btn-secondary-hover-bg-lightness-adjust)};
    --btn-bg-secondary-focus: #{color.adjust(variables.$white, $lightness: variables.$btn-secondary-focus-bg-lightness-adjust)};
    --btn-border-secondary: #{variables.$primary-color};
}

@include mixins.respond-to(md) {
    :root {
        --btn-font-size: #{variables.$font-size-md};
        --btn-padding-v: #{map.get(variables.$spacing, "3")};
        --btn-padding-h: #{map.get(variables.$spacing, "5")};
    }
}

@include mixins.respond-to(lg) {
    :root {
        --btn-font-size: #{variables.$font-size-md};
        --btn-padding-v: #{map.get(variables.$spacing, "3")};
        --btn-padding-h: #{map.get(variables.$spacing, "4")};
    }
}

.btn {
    padding: var(--btn-padding-v) var(--btn-padding-h);
    border: none;
    border-radius: variables.$btn-border-radius;
    font-family: variables.$heading-font-family;
    font-size: var(--btn-font-size);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.btn-primary {
        background-color: var(--btn-bg-primary);
        color: var(--btn-text-primary);

        &:hover {
            background-color: var(--btn-bg-primary-hover);
        }

        &:focus {
            background-color: var(--btn-bg-primary-focus);
        }
    }

    &.btn-secondary {
        border: 1px solid var(--btn-border-secondary);
        color: var(--btn-border-secondary);
        background-color: var(--btn-bg-secondary);

        &:hover {
            background-color: var(--btn-bg-secondary-hover);
        }

        &:focus {
            background-color: var(--btn-bg-secondary-focus);
        }
    }

    &.btn-small {
        padding: variables.$small-btn-padding;
        font-size: variables.$small-btn-font-size;
    }
}

.btn-icon-only {
    padding: variables.$icon-only-btn-padding;
    cursor: pointer;
    transition: background-color 0.3s ease;

    svg {
        fill: none;
        stroke: var(--color-primary);
    }

    &:hover {
        background-color: var(--btn-bg-secondary-hover);

        svg {
            stroke: var(--btn-bg-primary-hover);
        }
    }

    &:focus {
        background-color: var(--btn-bg-secondary-focus);

        svg {
            stroke: var(--btn-bg-primary-focus);
        }
    }
}
