@use "sass:map";
@use "sass:color";
@use "../variables.scss";


.btn {
    padding: variables.$btn-padding;
    border: none;
    border-radius: variables.$btn-border-radius;
    font-family: "RoslindaleDisplayNarrow", serif;
    font-size: variables.$btn-font-size;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.btn-primary {
        background-color: variables.$primary-color;
        color: variables.$white;

        &:hover {
            background-color: color.adjust(variables.$primary-color, $lightness: -10%);
        }

        &:focus {
            background-color: color.adjust(variables.$primary-color, $lightness: -15%);
        }
    }

    &.btn-secondary {
        border: 1px solid variables.$primary-color;
        color: variables.$primary-color;

        &:hover {
            background-color: color.adjust(variables.$white, $lightness: -5%);
        }

        &:focus {
            background-color: color.adjust(variables.$white, $lightness: -8%);
        }
    }

    &.btn-small {
        padding: variables.$small-btn-padding;
        font-size: variables.$small-btn-font-size;
    }
}