@use "../variables.scss";


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: variables.$input-padding;
    font-family: "Hanken Grotesk", system-ui, sans-serif;
    font-size: variables.$input-font-size;
    color: variables.$input-color;
    background-color: variables.$input-bg;
    border: variables.$input-border;
    border-radius: variables.$input-border-radius;

    &::placeholder {
        color: variables.$input-placeholder-color;
    }
}

.checkbox-label {
    font-size: 1.2rem;
    color: variables.$primary-color;
}

input[type="checkbox"] {
    width: variables.$input-chbx-size;
    height: variables.$input-chbx-size;
    background-color: variables.$input-bg;
    border: variables.$input-chbx-border;
    border-radius: variables.$input-chbx-border-radius;
}

input[type="checkbox"]:checked {
    background-color: variables.$primary-color;
    border: none;
}

input[type="submit"] {
    width: fit-content;
    justify-self: end;
}

.input-float-label {
    position: relative;

    >label {
        position: absolute;
        top: 50%;
        margin-top: -0.65rem;
        font-size: variables.$input-font-size;
        left: variables.$input-padding-x;
        color: variables.$input-placeholder-color;
        transition: 0.4s ease all;
        pointer-events: none;
    }

    textarea {
        ~label {
            top: 1.8rem;
        }
    }

    input:valid,
    input:focus,
    textarea:valid,
    textarea:focus {
        &~label {
            top: -0.35rem;
            left: variables.$input-padding-x - 0.4rem;
            font-size: 0.9rem;
            color: variables.$primary-color;
        }
    }

    @media (min-width: 1600px) {

        input:valid,
        input:focus,
        textarea:valid,
        textarea:focus {
            &~label {
                top: -0.6rem;
            }
        }
    }

}