@use "sass:map";
@use "../variables.scss";
@use "../mixins.scss";

:root {
    --input-font-size: 1rem;
    --input-padding: #{map.get(variables.$spacing, "2")} #{map.get(variables.$spacing, "3")};
    --input-bg: #{variables.$input-bg};
    --input-color: #{variables.$input-color};
    --input-placeholder-color: #{variables.$input-placeholder-color};
    --input-border: #{variables.$input-border};
    --input-border-radius: #{variables.$input-border-radius};
    --input-chbx-border: #{variables.$input-chbx-border};
    --input-chbx-size: 1.2rem;
}

@include mixins.respond-to(md) {
    :root {
        --input-font-size: #{variables.$font-size-base};
        --input-padding: #{map.get(variables.$spacing, "3")} #{map.get(variables.$spacing, "4")};
    }
}

@include mixins.dark-mode {
    :root {
        --input-bg: #{variables.$dark-input-bg};
        --input-color: #{variables.$dark-input-color};
        --input-placeholder-color: #{variables.$dark-input-placeholder-color};
        --input-border: #{variables.$dark-input-border};
        --input-chbx-border: #{variables.$dark-input-chbx-border};
    }
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: var(--input-padding);
    font-family: variables.$body-font-family;
    font-size: var(--input-font-size);
    color: var(--input-color);
    background-color: var(--input-bg);
    border: var(--input-border);
    border-radius: var(--input-border-radius);

    &::placeholder {
        color: var(--input-placeholder-color);
    }
}

.checkbox-label {
    font-size: var(--input-font-size);
    color: var(--color-text);
}

input[type="checkbox"] {
    width: var(--input-chbx-size);
    height: var(--input-chbx-size);
    background-color: var(--input-bg);
    border: var(--input-chbx-border);
    border-radius: variables.$input-chbx-border-radius;
    flex-shrink: 0;
}

input[type="checkbox"]:checked {
    background-color: var(--color-primary);
    border: none;
}

input[type="submit"] {
    width: fit-content;
    justify-self: end;
}

.input-float-label {
    position: relative;

    > label {
        position: absolute;
        top: 50%;
        margin-top: -0.6rem;
        font-size: var(--input-font-size);
        left: map.get(variables.$spacing, "3");
        color: var(--input-placeholder-color);
        transition: 0.4s ease all;
        pointer-events: none;
    }

    textarea ~ label {
        top: 1.5rem;
    }

    input:valid,
    input:focus,
    textarea:valid,
    textarea:focus {
        & ~ label {
            top: -0.35rem;
            left: calc(map.get(variables.$spacing, "3") - 0.4rem);
            font-size: 0.85rem;
            color: var(--color-primary);
            padding: 0 0.25rem;
        }
    }
}

@include mixins.dark-mode {
    .input-float-label {
        input:valid,
        input:focus,
        textarea:valid,
        textarea:focus {
            & ~ label {
                background-color: var(--input-bg);
            }
        }
    }
}

@include mixins.respond-to(md) {
    .input-float-label {
        input:valid,
        input:focus,
        textarea:valid,
        textarea:focus {
            & ~ label {
                top: -0.5rem;
            }
        }
    }
}
