@use "sass:map";

$section-padding-vertical: map.get($spacing, "7") !default;
$section-padding-horizontal: 200px !default;

$topbar-bg: $white !default;
$welcome-bg: $white !default;
$prestations-bg: $white !default;
$about-bg: $light-green !default;
$appointment-bg: $white !default;
$gift-card-bg: $light-green !default;
$last-section-bg: $white !default;
$footer-bg: $primary-color !default;

:root {
    --font-body: "Hanken Grotesk", system-ui, sans-serif;
}

body {
    font-family: $body-font-family;
}

.section-title {
    font-family: "Roslindale", serif;
    font-size: 2rem;
    display: block;
    color: $primary-color;
}

.section {
    display: flex;
    flex-direction: column;
    gap: $gap-block;
    padding: $section-padding-vertical $section-padding-horizontal;
}

p {
    color: $primary-color;
    text-align: justify;
}

#topBar {
    background-color: $topbar-bg;
    padding: map.get($spacing, "4") $section-padding-horizontal;

    .menu-link {
        color: $primary-color;
        text-transform: uppercase;
        padding: $small-btn-padding-vertical 2rem;

        &.selected {
            border-bottom: 2px solid $primary-color;
        }

        &:hover {
            color: darken($primary-color, 10%);
        }
    }
}

#welcome {
    padding: $section-padding-vertical $section-padding-horizontal;
    background: linear-gradient(to bottom,
            $white 0%,
            $white 30%,
            $beige 30%,
            $beige 100%);

    #profilePicture {
        max-width: 480px;
        max-height: 550px;
        height: 100%;
        border-radius: 500px 500px 0px 0px;
        object-fit: cover;
        border: 1px solid $secondary-color;
    }

    #welcomeText {
        font-family: "Roslindale", serif;
        border: 1px solid $secondary-color;
        background-color: $white;
    }

    #locationText {
        font-size: 1.5rem;
        color: $primary-color;
    }
}

#prestations {
    background-color: $prestations-bg;
}

#aboutMe {
    background-color: $about-bg;
}

#makeAppointment {
    background-color: $appointment-bg;
}

#giftCard {
    background-color: $gift-card-bg;
}

#lastSection {
    background-color: $last-section-bg;
}

#footer {
    padding: 1rem $section-padding-horizontal;
    background-color:

        $footer-bg;
    color: $white;
}

.sara-link {
    color: $white;
    text-decoration: underline;

    &:hover {
        color: lighten($white, 10%);
    }
}

.inverted-logo {
    object-fit: cover;
    width: 250px;
    height: 100%;
}