@use "sass:map";
@use "sass:color";
@use "../variables.scss";
@use "../components/buttons.scss";

$section-padding-vertical: map.get(variables.$spacing, "7") !default;
$section-padding-horizontal: 200px !default;

$topbar-bg: variables.$white !default;
$welcome-bg: variables.$white !default;
$prestations-bg: variables.$white !default;
$about-bg: variables.$light-green !default;
$appointment-bg: variables.$white !default;
$gift-card-bg: variables.$light-green !default;
$last-section-bg: variables.$white !default;
$footer-bg: variables.$primary-color !default;

:root {
    --font-body: "Hanken Grotesk", system-ui, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: variables.$body-font-family;
}

.section-title {
    font-family: "RoslindaleDisplayNarrow", serif;
    font-size: 2rem;
    display: block;
    color: variables.$primary-color;
}

.section {
    display: flex;
    flex-direction: column;
    gap: variables.$gap-block;
    padding: $section-padding-vertical $section-padding-horizontal;
}

p {
    color: variables.$primary-color;
    text-align: justify;
    line-height: 1.8rem;
}

.divider {
    background-color: variables.$secondary-color;

    &.horizontal-divider {
        width: 100%;
        height: 1px;
    }
}

#topBar {
    background-color: $topbar-bg;
    padding: map.get(variables.$spacing, "4") $section-padding-horizontal;

    #menu .btn {
        font: inherit;
    }

    .menu-link {
        color: variables.$primary-color;
        text-transform: uppercase;
        padding: variables.$small-btn-padding-vertical 2rem;

        &.selected {
            border-bottom: 2px solid variables.$primary-color;
        }

        &:hover {
            color: color.adjust(variables.$primary-color, $lightness: -10%);
        }
    }
}

#welcome {
    padding: $section-padding-vertical $section-padding-horizontal;
    background: linear-gradient(to bottom,
            variables.$white 0%,
            variables.$white 30%,
            variables.$beige 30%,
            variables.$beige 100%);

    #profilePicture {
        max-width: 480px;
        max-height: 550px;
        height: 100%;
        border-radius: 500px 500px 0px 0px;
        object-fit: cover;
        border: 1px solid variables.$secondary-color;
    }

    #welcomeText {
        font-family: "RoslindaleDisplayNarrow", serif;
        border: 1px solid variables.$secondary-color;
        background-color: variables.$white;
    }

    #locationText {
        font-size: 1.5rem;
        color: variables.$primary-color;
    }
}

#prestations {
    background-color: $prestations-bg;

    .carousel {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 1rem;
        --cards-visible: 1;
        max-width: 650px;
    }

    @media (min-width: 1400px) {
        .carousel {
            --cards-visible: 2;
            max-width: 1000px;
        }
    }

    @media (min-width: 1960px) {
        .carousel {
            max-width: 1600px;
            --cards-visible: 3;
        }
    }

    @media (min-width: 2520px) {
        .carousel {
            max-width: 2132px;
            --cards-visible: 4;
        }

        .prev-button,
        .next-button {
            visibility: hidden;
        }
    }

    .carousel-cards-wrapper {
        overflow-x: hidden;
    }

    .carousel-track {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% - (1.5rem * (var(--cards-visible) - 1))) / var(--cards-visible));
        grid-template-rows: 1fr;
        gap: 1.5rem;
        transition: transform 0.35s ease;
        will-change: transform;
    }


    .prestation-arrow-icon {
        width: 1.35rem;
        height: 2.5rem;
        stroke: variables.$primary-color;
        stroke-width: 4;
        stroke-linejoin: round;
        stroke-linecap: round;
    }

    .prestation-card {
        display: grid;
        grid-template-rows: subgrid;
        grid-template-rows: min-content min-content 1fr min-content min-content;
        background-color: variables.$beige;
    }

    .prestation-card-img {
        width: 100%;
        object-fit: cover;
    }

    .prestation-card-title {
        font-family: "RoslindaleDisplayNarrow", serif;
        font-size: 1.8rem;
        display: block;
        color: variables.$primary-color;
        text-align: center;
    }

    .prestation-card-divider {
        height: 1px;
        background-color: variables.$secondary-color;
    }

    .prestation-card-footer {
        border: 1px solid variables.$secondary-color;
        border-radius: 1px;
        background-color: variables.$white;
        color: variables.$primary-color;
        font-size: 1.5rem;

        .actual-price {
            font-size: 2.1rem;
        }
    }
}

#aboutMe {
    background-color: $about-bg;
}

#makeAppointment {
    background-color: $appointment-bg;

    .book-with-email-title {
        font-family: "RoslindaleDisplayNarrow", serif;
        font-size: 1.8rem;
        color: variables.$primary-color;
    }

    .vertical-divider {
        flex: 1;
        width: 1px;
        background-color: variables.$secondary-color;
    }

    .divider-text {
        font-family: "RoslindaleDisplayNarrow", serif;
        font-size: 1.8rem;
        color: variables.$primary-color;
        text-align: center;
    }
}

#giftCard {
    background-color: $gift-card-bg;

    .gift-card-text {
        color: variables.$primary-color;
    }

    ul {
        list-style-type: disc;
        color: variables.$primary-color;
        padding-left: 1.5rem;
        padding-top: 1rem;

        li:not(:last-child) {
            margin-bottom: .5rem;
        }
    }
}

#lastSection {
    background-color: $last-section-bg;
}

#footer {
    padding: 1rem $section-padding-horizontal;
    background-color:

        $footer-bg;
    color: variables.$white;
}

.sara-link {
    color: variables.$white;
    text-decoration: underline;

    &:hover {
        color: color.adjust(variables.$white, $lightness: 10%);
    }
}

.inverted-logo {
    object-fit: cover;
    width: 250px;
    height: 100%;
}