@use "sass:map";
@use "sass:color";
@use "../variables.scss";
@use "../components/buttons.scss";



$xs-line-height: 1.6rem !default;
$line-height: 1.8rem;

$section-max-width: 2160px !default;
$section-padding-vertical: map.get(variables.$spacing, "7") !default;
$section-padding-horizontal: 200px !default;

$small-section-padding-vertical: map.get(variables.$spacing, "6") !default;
$small-section-padding-horizontal: 100px !default;

$xs-section-padding-vertical: map.get(variables.$spacing, "6") !default;
$xs-section-padding-horizontal: 30px !default;


$topbar-bg: variables.$white !default;
$welcome-bg: variables.$white !default;
$prestations-bg: variables.$white !default;
$about-bg: variables.$light-green !default;
$appointment-bg: variables.$white !default;
$gift-card-bg: variables.$light-green !default;
$last-section-bg: variables.$white !default;
$footer-bg: variables.$primary-color !default;
$modal-bg: variables.$white !default;

:root {
    --font-body: "Hanken Grotesk", system-ui, sans-serif;
    --paragraph-line-height: #{$xs-line-height};
    --section-padding-vertical: #{$xs-section-padding-vertical};
    --section-padding-horizontal: #{$xs-section-padding-horizontal};
}

@media (min-width: 1600px) {
    :root {
        --section-padding-vertical: #{$section-padding-vertical};
        --section-padding-horizontal: #{$section-padding-horizontal};
        --paragraph-line-height: #{$line-height};
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: variables.$body-font-family;
}

.section-title {
    font-family: "RoslindaleDisplayNarrow", serif;
    font-size: 2rem;
    display: block;
    color: variables.$primary-color;
}

.section {
    flex: 1;
    max-width: $section-max-width;
    display: flex;
    flex-direction: column;
    gap: variables.$gap-block;
}

p {
    color: variables.$primary-color;
    text-align: justify;
    line-height: var(--paragraph-line-height);
}

.divider {
    background-color: variables.$secondary-color;

    &.horizontal-divider {
        width: 100%;
        height: 1px;
    }
}

#topBarWrapper {
    background-color: $topbar-bg;
    padding: 0 var(--section-padding-horizontal);

    #topBar {
        max-width: $section-max-width;
        position: relative;
        align-items: center;
    }

    #logoTextRight {
        gap: map.get(variables.$spacing, "3");
    }

    .logo-image {
        width: 90px;
    }

    .logo-text {
        width: 160px;
    }
}


@media (min-width: 1200px) {
    #topBarWrapper {

        #logoTextRight {
            gap: variables.$gap-comp;
        }

        .logo-image {
            width: 116px;
        }

        .logo-text {
            width: 250px;
        }
    }
}


.menu-toggle {
    display: none;
    height: fit-content;
}

.menu-icon {
    height: 2rem;
    stroke: variables.$primary-color;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: variables.$primary-color;
}

@media (min-width: 500px) {
    #topBarWrapper {
        .logo-text {
            width: 200px;
        }
    }

    .menu-icon {
        height: 2.5rem
    }
}

#menu {
    .btn {
        font: inherit;
    }

    .menu-link {
        color: variables.$primary-color;
        text-transform: uppercase;
        padding: variables.$small-btn-padding-vertical 1.2rem;

        &.selected {
            border-bottom: 2px solid variables.$primary-color;
        }

        &:hover {
            color: color.adjust(variables.$primary-color, $lightness: -10%);
        }
    }
}

@media (min-width: 1600px) {
    #menu {
        .menu-link {
            padding: variables.$small-btn-padding-vertical 2rem;
        }
    }
}

@media (max-width: 1100px) {
    .menu-toggle {
        display: block;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: variables.$beige;
        }

        &.is-open {
            background-color: variables.$beige;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
    }

    #menu {
        position: absolute;
        top: calc(76%);
        right: 0;
        flex-direction: column;
        background-color: variables.$beige;
        padding: 1rem 0.5rem;
        gap: 1rem;
        border-radius: 2px;

        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.25s ease, transform 0.25s ease;

        >a {
            transition: background-color 0.2s ease;
        }

        &.is-open {
            visibility: visible;
            transform: translateY(0);

            >a:hover {
                background-color: color.adjust(variables.$beige, $lightness: -10%);
            }
        }
    }
}


#welcomeWrapper {
    background: linear-gradient(to bottom,
            variables.$white 0%,
            variables.$white 30%,
            variables.$beige 30%,
            variables.$beige 100%);
    padding: var(--section-padding-vertical) var(--section-padding-horizontal);

    #welcome {
        max-width: $section-max-width;

        #profilePicture {
            max-width: clamp(300px, 480px, 90%);
            max-height: 550px;
            height: 100%;
            border-radius: 500px 500px 0px 0px;
            object-fit: cover;
            border: 1px solid variables.$secondary-color;
        }

        #welcomeText {
            font-family: "RoslindaleDisplayNarrow", serif;
            border: 1px solid variables.$secondary-color;
            background-color: variables.$white;
        }

        #locationText {
            font-size: 1.5rem;
            color: variables.$primary-color;
        }
    }
}

#prestationsWrapper {
    padding: var(--section-padding-vertical) var(--section-padding-horizontal);
    background-color: $prestations-bg;

    #prestations {

        .carousel {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            gap: 1rem;
            --cards-visible: 1;
            width: 90%;
            max-width: 500px;
        }

        .prev-button {
            left: -10%;
            position: absolute;
        }

        .next-button {
            position: absolute;
            right: -10%;
        }

        @media (min-width: 1100px) {
            .carousel {
                --cards-visible: 2;
                max-width: 900px;
            }
        }

        @media (min-width: 1500px) {
            .carousel {
                max-width: 1500px;
                --cards-visible: 3;
            }

            .prev-button {
                left: -5%;
            }

            .next-button {
                right: -5%;
            }
        }

        @media (min-width: 2000px) {
            .carousel {
                max-width: 2000px;
                --cards-visible: 4;
            }
        }

        .carousel-cards-wrapper {
            overflow-x: hidden;
        }

        .carousel-track {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: calc((100% - (1.5rem * (var(--cards-visible) - 1))) / var(--cards-visible));
            grid-template-rows: 1fr;
            gap: 1.5rem;
            transition: transform 0.35s ease;
            will-change: transform;
        }

        .prestation-arrow-icon {
            width: 1rem;
            height: 2.3rem;
            stroke: variables.$primary-color;
            stroke-width: 4;
            stroke-linejoin: round;
            stroke-linecap: round;
        }

        @media (min-width: 380px) {
            .prestation-arrow-icon {
                width: 1.35rem;
                height: 2.5rem;
            }
        }

        .prestation-card {
            display: grid;
            grid-template-rows: subgrid;
            grid-template-rows: min-content min-content 1fr min-content min-content;
            background-color: variables.$beige;
        }

        .prestation-card-img {
            width: 100%;
            object-fit: cover;
        }

        .prestation-card-title {
            font-family: "RoslindaleDisplayNarrow", serif;
            font-size: 1.8rem;
            display: block;
            color: variables.$primary-color;
            text-align: center;
        }

        .prestation-card-divider {
            height: 1px;
            background-color: variables.$secondary-color;
        }

        .prestation-card-footer {
            border: 1px solid variables.$secondary-color;
            border-radius: 1px;
            background-color: variables.$white;
            color: variables.$primary-color;
            font-size: 1.5rem;

            .actual-price {
                font-size: 2.1rem;
            }
        }
    }
}

#aboutMeWrapper {
    padding: var(--section-padding-vertical) var(--section-padding-horizontal);
    background-color: $about-bg;

    .inverted-logo {
        width: clamp(200px, 240px, 40%);
    }
}

#makeAppointmentWrapper {
    padding: var(--section-padding-vertical) var(--section-padding-horizontal);
    background-color: $appointment-bg;

    #makeAppointment {

        .book-with-email-title {
            font-family: "RoslindaleDisplayNarrow", serif;
            font-size: 1.8rem;
            color: variables.$primary-color;
        }

        .vertical-divider {
            flex: 1;
            width: 1px;
            background-color: variables.$secondary-color;
        }

        .horizontal-divider {
            flex: 1;
            height: 1px;
            background-color: variables.$secondary-color;
        }

        .divider-text {
            font-family: "RoslindaleDisplayNarrow", serif;
            font-size: 1.8rem;
            color: variables.$primary-color;
            text-align: center;
        }
    }
}

#giftCardWrapper {
    padding: var(--section-padding-vertical) var(--section-padding-horizontal);
    background-color: $gift-card-bg;

    #giftCard {

        .gift-card-text {
            color: variables.$primary-color;
        }

        ul {
            list-style-type: disc;
            color: variables.$primary-color;
            padding-left: 1.5rem;
            padding-top: 1rem;

            li:not(:last-child) {
                margin-bottom: .5rem;
            }
        }
    }
}

#lastSection {
    background-color: $last-section-bg;

    .logo-text-vertical {
        width: clamp(220px, 260px, 35%);
    }
}

#footerWrapper {
    background-color: $footer-bg;
    padding: 1rem var(--section-padding-horizontal);

    #footer {
        max-width: $section-max-width;
        gap: 1.5rem;
        color: variables.$white;
    }
}

.sara-link {
    color: variables.$white;
    text-decoration: underline;

    &:hover {
        color: color.adjust(variables.$white, $lightness: 10%);
    }
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease;
    z-index: 1000;
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;

    .modal {
        transform: translateY(0);
    }
}

.modal {
    padding: 2rem;
    background: $modal-bg;
    border-radius: 3px;
    max-width: 420px;
    width: calc(100% - 2rem);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);

    transform: translateY(10px);
    transition: transform 0.25s ease;

    .modal-title {
        font-size: 1.5rem;
        display: block;
        color: variables.$primary-color;
    }

    &.success h2 {
        color: variables.$primary-color;
    }

    &.error h2 {
        color: variables.$error-title-color;
    }
}