@font-face {
    font-family: "Hanken Grotesk";
    src: local('../fonts/HankenGrotesk-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roslindale";
    src: local('../fonts/Roslindale-DisplayNarrowLight-Testing.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}