@font-face {
    font-family: "Hanken Grotesk";
    src: local('../assets/fonts/HankenGrotesk-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url('../assets/fonts/RoslindaleDisplayNarrow-Light.woff2') format("woff2"),
        url('../assets/fonts/RoslindaleDisplayNarrow-Light.woff') format("woff");
    font-family: 'RoslindaleDisplayNarrow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}