@use "mixins.scss";
@use "variables.scss";

$grid-columns: 12 !default;

.grid {
    display: grid;
    grid-template-columns: repeat($grid-columns, 1fr);
}

@for $i from 1 through $grid-columns {
    .col-#{$i} {
        grid-column: span $i;
    }
}

@each $name, $min in variables.$breakpoints {
    @for $i from 1 through $grid-columns {
        @media (width >=$min) {
            .#{$name}\:col-#{$i} {
                grid-column: span $i;
            }
        }
    }
}