@use "variables.scss";

@mixin make-responsive($class-name) {
    @each $name, $min in variables.$breakpoints {
        @media (width >=$min) {
            .#{$name}\:#{$class-name} {
                @content;
            }
        }
    }
}

$directions: (
    t: top,
    r: right,
    b: bottom,
    l: left) !default;

@mixin create-for-directions($class-name, $property, $spacing-name, $spacing-value) {
    @each $abbr, $dir in $directions {
        .#{$class-name}#{$abbr}-#{$spacing-name} {
            #{$property}-#{$dir}: $spacing-value;
        }
    }

    .#{$class-name}-#{$spacing-name} {
        #{$property}: $spacing-value;
    }

    .#{$class-name}x-#{$spacing-name} {
        #{$property}-left: $spacing-value;
        #{$property}-right: $spacing-value;
    }

    .#{$class-name}y-#{$spacing-name} {
        #{$property}-top: $spacing-value;
        #{$property}-bottom: $spacing-value;
    }
}