@use "sass:map";
@use "variables.scss";
@use "mixins.scss";

:root {
    --gap-comp: #{map.get(variables.$spacing, "4")};
    --paragraph-line-height: #{variables.$line-height-xs};
    --section-padding-vertical: #{map.get(variables.$spacing, "6")};
    --section-padding-horizontal: 20px;
}

@include mixins.respond-to(sm) {
    :root {
        --gap-comp: #{map.get(variables.$spacing, "4")};
        --paragraph-line-height: #{variables.$line-height-sm};
        --section-padding-horizontal: 40px;
    }
}

@include mixins.respond-to(md) {
    :root {
        --gap-comp: #{variables.$gap-comp};
        --paragraph-line-height: #{variables.$line-height-md};
        --section-padding-vertical: #{map.get(variables.$spacing, "7")};
        --section-padding-horizontal: 60px;
    }
}

@include mixins.respond-to(lg) {
    :root {
        --section-padding-horizontal: 100px;
    }
}

@include mixins.respond-to(xl) {
    :root {
        --paragraph-line-height: #{variables.$line-height-lg};
        --section-padding-horizontal: 150px;
    }
}

@include mixins.respond-to(xxl) {
    :root {
        --section-padding-horizontal: 200px;
    }
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

@include mixins.make-responsive(display-none) {
    display: none !important;
}

@include mixins.make-responsive(display-block) {
    display: block !important;
}

@each $name, $value in variables.$spacing {
    .gap-#{$name} {
        gap: #{$value};
    }

    @include mixins.create-for-directions("p", "padding", $name, $value);
    @include mixins.create-for-directions("m", "margin", $name, $value);
}

.gap-comp {
    gap: var(--gap-comp);
}

.gap-block {
    gap: variables.$gap-block;
}

.flex {
    display: flex;
}

@for $i from 1 through 3 {
    .flex-#{$i} {
        flex: #{$i};
    }
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

@include mixins.make-responsive(flex-row) {
    flex-direction: row;
}

@include mixins.make-responsive(flex-column) {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.bold {
    font-weight: bold;
}

.text-align-center {
    text-align: center;
}

.underlined {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.line-through {
    text-decoration: line-through;
}

.hidden {
    visibility: hidden;
}

.w-fit {
    width: fit-content;
}
