@use "variables.scss";
@use "mixins.scss";

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

@include mixins.make-responsive(display-none) {
    display: none !important;
}

@include mixins.make-responsive(display-block) {
    display: block !important;
}

@each $name, $value in variables.$spacing {
    .gap-#{$name} {
        gap: #{$value};
    }

    @include mixins.create-for-directions("p", "padding", $name, $value);
    @include mixins.create-for-directions("m", "margin", $name, $value);
}

:root {
    --gap-comp: #{variables.$xs-gap-comp};
}

@media (min-width: 1600px) {
    :root {
        --gap-comp: #{variables.$gap-comp};
    }
}

.gap-comp {
    gap: var(--gap-comp);
}

.gap-block {
    gap: variables.$gap-block;
}

.flex {
    display: flex;
}

@for $i from 1 through 3 {
    .flex-#{$i} {
        flex: #{$i};
    }
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

@include mixins.make-responsive(flex-row) {
    flex-direction: row;
}

@include mixins.make-responsive(flex-column) {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.bold {
    font-weight: bold;
}

.text-align-center {
    text-align: center;
}

.underlined {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.line-through {
    text-decoration: line-through;
}

.hidden {
    visibility: hidden;
}

.w-fit {
    width: fit-content;
}