@use "variables.scss";
@use "mixins.scss";

@each $name, $value in variables.$spacing {
    .gap-#{$name} {
        gap: #{$value};
    }

    @include mixins.create-for-directions("p", "padding", $name, $value);
    @include mixins.create-for-directions("m", "margin", $name, $value);
}

.gap-comp {
    gap: variables.$gap-comp;
}

.gap-block {
    gap: variables.$gap-block;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.bold {
    font-weight: bold;
}

.text-align-center {
    text-align: center;
}

.underlined {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.line-through {
    text-decoration: line-through;
}