@use "sass:map";

$breakpoints: (
    "xs": 0px,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px) !default;

$spacing: (
    "0": 0,
    "1": .25rem,
    "2": .5rem,
    "3": 1rem,
    "4": 1.5rem,
    "5": 2rem,
    "6": 2.5rem,
    "7": 3rem) !default;

// Colors
$white: #F7F5F2 !default;
$beige: #EFE8DE !default;
$light-green: #D6D4C8 !default;

$primary-color: #516450 !default;
$secondary-color: #BCBB8E !default;
$text-color: $primary-color !default;
$inverted-text-color: $white !default;

// Fonts
$root-font-size: 13px !default;
$body-font-family: "Hanken Grotesk",
    sans-serif !default;

// Gaps
$xs-gap-comp: map.get($spacing, "3") !default;
$gap-comp: map.get($spacing, "5") !default;
$gap-block: map.get($spacing, "6") !default;

// Buttons
$btn-border-radius: 1px !default;

$btn-padding-vertical: map.get($spacing, "3") !default;
$btn-padding-horizontal: map.get($spacing, "3") !default;
$btn-padding: $btn-padding-vertical $btn-padding-horizontal !default;
$btn-font-size: 1.5rem !default;
$btn-primary-hover-bg-lightness-adjust: -10% !default;
$btn-primary-focus-bg-lightness-adjust: -15% !default;
$btn-secondary-hover-bg-lightness-adjust: -5% !default;
$btn-secondary-focus-bg-lightness-adjust: -8% !default;

$small-btn-padding-vertical: map.get($spacing, "3") !default;
$small-btn-padding-horizontal: map.get($spacing, "3") !default;
$small-btn-padding: $small-btn-padding-vertical $small-btn-padding-horizontal !default;
$small-btn-font-size: 1rem !default;


// Icon only buttons
$icon-only-btn-padding-vertical: map.get($spacing, "2") !default;
$icon-only-btn-padding-horizontal: map.get($spacing, "2") !default;
$icon-only-btn-padding: $icon-only-btn-padding-vertical $icon-only-btn-padding-horizontal !default;

// Inputs
$input-font-size: 1.2rem !default;
$input-color: #1C1E21 !default;
$input-padding-x: map.get($spacing, "3") !default;
$input-padding-y: map.get($spacing, "2") !default;
$input-padding: $input-padding-y $input-padding-x !default;
$input-bg: #FFFFFF !default;
$input-placeholder-color: #ADB5BD !default;
$input-border: 1px solid #DEE2E6 !default;
$input-border-radius: 6px !default;
$input-chbx-border: 1px solid #ABB5BE !default;
$input-chbx-border-radius: 3px !default;
$input-chbx-size: 1.2rem !default;