@use "sass:map";

$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px) !default;

$spacing: (
    "0": 0,
    "1": .25rem,
    "2": .5rem,
    "3": 1rem,
    "4": 1.5rem,
    "5": 2rem,
    "6": 2.5rem,
    "7": 3rem) !default;

// Colors
$white: #F7F5F2 !default;
$beige: #EFE8DE !default;
$light-green: #D6D4C8 !default;

$primary-color: #516450 !default;
$secondary-color: #BCBB8E !default;
$text-color: $primary-color !default;
$inverted-text-color: $white !default;

// Fonts
$root-font-size: 13px !default;
$body-font-family: "Hanken Grotesk",
    sans-serif !default;

// Gaps
$gap-comp: map.get($spacing, "5") !default;
$gap-block: map.get($spacing, "6") !default;

// Buttons
$btn-border-radius: 1px !default;

$btn-padding-vertical: map.get($spacing, "3") !default;
$btn-padding-horizontal: map.get($spacing, "3") !default;
$btn-padding: $btn-padding-vertical $btn-padding-horizontal !default;
$btn-font-size: 1.5rem !default;

$small-btn-padding-vertical: map.get($spacing, "3") !default;
$small-btn-padding-horizontal: map.get($spacing, "3") !default;
$small-btn-padding: $small-btn-padding-vertical $small-btn-padding-horizontal !default;
$small-btn-font-size: 1rem !default;